<!DOCTYPE html>
<html>
<head>
	<title>Save for Good</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">

	<% if logged_in? %>
		<meta name="current-user" content="<%= render 'api/sessions/show.json.jbuilder' %>">
	<% end %>
</head>
<body>

	<%= yield %>

</body>
</html>
